.burger_cross{
    padding: 19px 16px;
    background-color: #0078D1;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /*display: inline-flex;*/
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
@media screen and (max-width: 768px){
    .burger_cross{
        display: inline-flex;
    }
}

.burger_cross__plank{
    display: block;
    background-color: white;
    height: 2px;
    width: 18px;
    border-radius: 2px;
}

.burger_cross__plank.active:nth-child(1){
    opacity: 0;
}
.burger_cross__plank.active:nth-child(2){
    transform: rotate(45deg);
}
.burger_cross__plank.active:nth-child(3){
    transform: rotate(-45deg) translateY(-4px) translateX(4px);
}
